<h2>Editar usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name, autocomplete: "Ingrese su nombre" %>
  </div>

  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido, autocomplete: "Ingrese su apellido" %>
  </div>

  <div class="field">
    <%= f.label :DNI %><br />
    <%= f.text_field :DNI, autocomplete: "Ingrese su DNI" %>
  </div>

  <div class="field">
    <%= f.label :nacimiento %><br />
    <%= f.date_field :nacimiento, autocomplete: "Ingrese su fecha de nacimiento" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Actualmente esperando confirmación para: %></div>
  <% end %>

  <div class='field'>
    <%=f.label :riesgo%>
    <%=f.label :riesgo, "Si", :value => "true"%>
    <%=f.radio_button :riesgo, true%>
    <%=f.label :riesgo, "No", :value => "false"%>
    <%=f.radio_button :riesgo, false%>
  </div>

  <div class='field'>
    <% lugares = {'Cementerio' => 1, 'Municipalidad' => 2,'Terminal' => 3}%>
    <%=f.label :lugar%>
    <%=f.select :lugar, lugares %>
  </div>

  <div class="field">
    <%= f.label :contraseña %> <i>(déjelo en blanco si no quiere cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "nueva contraseña" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmar_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "nueva contraseña" %>
  </div>

  <div class="field">
    <%= f.label :contraseña_actual %> <i>(necesitamos su contraseña actual para confirmar sus cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "contraseña actual" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>Eliminar mi cuenta</h3>

<p>¿Desconforme? <%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete %></p>

<%= link_to "Atras", :back %>
